<mat-toolbar color="primary">
  <span>
    <img src="logomakr.com/app/4vP1Ag" width="80px" alt="logo">
    BankVerve
  </span>
  <span>
    <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton">
      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        Log out
      </button>
    </ng-container>
    <ng-template #loginButton>
      <button mat-button routerLink="login">
        <mat-icon>login</mat-icon>
        Login
      </button>
    </ng-template>
    <button mat-button routerLink="signup">
      <mat-icon>people</mat-icon>
      Sign-Up
    </button>
  </span>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>

